/* Paramètre généraux */

html {
    box-sizing: border-box;
  }
  :before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

/* Début du code  */

body {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0px auto;
    min-height: 100vh;
}


main {
    display: flex;
    flex-direction: column;
}

