/* Paramètre généraux */

html {
    box-sizing: border-box;
  }
  :before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

/* Gestion des margin sur le côté pour la page  */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.centrage {
    max-width: 1400px;
    margin: 0px auto;
}

main {
    display: flex;
    flex-direction: column;
}

/* Code du header  */

header, nav {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

nav {
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0px auto;
}

.logo {
    font-size: 24px;
    color: F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    padding: 0px;
    list-style: none;
    margin-left: auto;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}